@import '../../../styles/mixin';
@import '../../../styles/variables';

.servicesSection {
  @include flex(center, center, row, null);
  padding: 80px 80px 150px;
  margin: 0 auto;

  @include md {
    gap: 40px;
    padding: 80px 20px 100px;
    flex-direction: column;
  }

  .imageContainer {
    flex: 1.2;
    z-index: 2;
    border-radius: 30px;
    margin-right: -30px;
    width: 900px;
    width: 100%;

    img {
      width: 100%;
      height: auto;
    }

    @include md {
      margin: 0;
    }
  }

  .content {
    flex: 1;
    width: 100%;

    .title {
      @include font(var(--bukra-medium), 32px, 500);
      color: $text-color-1;
      line-height: 1.5;
      text-transform: capitalize;
      position: relative;
      z-index: 1;
      width: fit-content;
      margin-bottom: 40px;
      margin-left: 100px;

      &::after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 3px;
        height: 20px;
        background-color: $secondary-color-medium;
        z-index: -1;
      }

      @include md {
        font-size: 30px;
        margin-left: 0;
        text-align: center;
      }
      @include sm {
        font-size: 28px;
      }
      @include xs {
        font-size: 26px;
      }
    }

    .serviceList {
      @include flex(flex-start, center, column, 20px);
      @include md {
        align-items: center;
      }
    }

    .serviceItem {
      @include font(var(--bukra-medium), 20px, 500);
      background-color: $primary-color;
      color: white;
      padding: 12px 50px 12px 100px;
      border-radius: 25px;
      font-size: 18px;
      text-align: left;
      width: max-content;
      line-height: 1.5;

      &.fullWidth {
        width: 100%;
      }

      &.reducedWidth {
        width: 80%;
      }

      @include md {
        text-align: center;
        width: unset;
        padding: 12px 40px;
      }

      @include sm {
        padding: 10px 20px;
        font-size: 16px;
      }
    }
  }
}

.serviceItem:hover {
  background-image: $gradient-linear-full;
}

@include md {
  .servicesContainer {
    flex-direction: column;
    padding: 20px;
  }

  .servicesList {
    padding-left: 0;
  }

  .iconBox {
    border-right: none;
    border-bottom: 2px solid #eaeaea;
    margin-bottom: 20px;
  }
}
