@import '../../styles/mixin';
@import '../../styles/variables';

.solutions {
  max-width: $maxWidth;
  margin: 0 auto;
  padding: 10rem 40px;
  font-family: $secondaryFont;

  @include md {
    padding: 0 20px;
  }

  .cards {
    @include flex(center, center, row, 40px);
    padding: 20px 0;
    border: 1px solid red;

    & > * {
      flex: 1 1 300px;
    }

    @include sm {
      flex-direction: column;
      gap: 2rem;
    }

    @include md {
      flex-direction: row;
      gap: 1rem;
    }
  }
}
