@import '../../styles/mixin';
@import '../../styles/variables';

.contact {
  margin: 4rem 0 0;
  background: linear-gradient(
    122.74deg,
    rgba(4, 81, 97, 0.5) -4.02%,
    rgba(4, 81, 97, 0.3) 52.1%,
    rgba(4, 81, 97, 0) 101.17%
  );
  padding: 40px 0px;
  border-top-right-radius: 20rem;

  @include lg {
    padding: 40px 40px;
  }
  @include xxl {
    border-top-right-radius: 30rem;
  }
  @include md {
    border-top-right-radius: 10rem;
    padding: 40px 20px;
  }
  @include sm {
    border-top-right-radius: 5rem;
    padding: 40px 0;
  }

  .container {
    max-width: 1920px;
    margin: 0 auto;
    padding: 2rem 0;

    @include md {
      padding: 0;
    }

    .title {
      margin-bottom: 100px;

      @include md {
        margin-bottom: 50px;
      }

      h4 {
        @include font(var(--HelveticaNeue), 20px, 500);
        text-align: center;
        color: #4d4d4d;
        text-transform: uppercase;
      }

      h1 {
        @include font(var(--HelveticaNeue-medium), 50px, 400);
        text-align: center;
        color: $text-color-1;
        margin-top: 20px;

        @include md {
          font-size: 40px;
        }

        @include sm {
          font-size: 30px;
          padding: 10px;
          line-height: 1.2;
        }
      }
    }

    .contactForm {
      @include flex(center, space-between, row, 6rem);
      margin: 0 auto;
      max-width: max-content;
      border-radius: 16px;
      box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.1);
      padding: 6rem;
      background-color: #ffffff;

      @include md {
        flex-direction: column;
        margin: 0 20px;
        padding: 40px;
        gap: 20px;
      }

      @include xs {
        padding: 40px 20px;
      }

      form {
        flex: 2;

        h2 {
          font-family: var(--HelveticaNeue-medium);
          font-size: 28px;
          color: #232323;
          letter-spacing: 3px;
          font-weight: 400;
          margin-bottom: 20px;
        }

        input,
        textarea {
          font-family: var(--roboto);
          width: 100%;
          padding: 20px 24px;
          margin-block: 10px;
          font-size: 20px;
          box-sizing: border-box;
          border-radius: 8px;
          border: 1px solid #d4d4d4;
          color: #000;

          &:hover {
            outline: 1px solid black;
          }
        }

        input::placeholder,
        textarea::placeholder {
          font-family: var(--roboto);
          font-weight: 300;
          color: #ababab;
        }

        textarea {
          resize: none;
        }

        button {
          margin-top: 50px;

          @include md {
            margin-top: 30px;
          }

          width: 100%;
        }
      }

      .contactInfo {
        flex: 1;
      }
    }
  }
}
