@import '../../styles/mixin';
@import '../../styles/variables';

.aboutPage {
  max-width: $maxWidth;
  padding: 0 40px;
  margin: 0 auto;
  background-image: linear-gradient(
    90deg,
    rgba(4, 81, 97, 0.05) 5%,
    rgba(4, 81, 97, 0.02) 10%,
    rgba(255, 255, 255, 1)// Fully white by 30% to 100%
  );

  @include md {
    padding: 0 20px;
    margin-top: 80px;
  }
}
