@import '../../styles/mixin';
@import '../../styles/variables';

.solutions {
  max-width: $maxWidth;
  margin: 0 auto;
  padding: 0 40px;
  padding-bottom: 20px;
  font-family: $secondaryFont;

  .cards {
    @include flex(center, center, row, 40px);

    & > * {
      flex: 1 1 300px;
    }

    @include sm {
      flex-direction: column;
      gap: 2rem;
    }

    @include md {
      flex-direction: row;
      gap: 1rem;
    }
  }
}
