@import '../../styles/mixin';
@import '../../styles/variables';

.products {
  margin: 0 auto;
  max-width: $maxWidth;
  padding: 10rem 40px;
  font-family: $secondaryFont;

  @include md {
    padding: 10rem 20px;
  }

  .detail {
    @include font(var(--helvetica), 24px, 400);
    color: $text-color-3;
    line-height: 30px;
    text-align: center;
    margin-top: -35px;

    @include sm {
      font-size: 22px;
    }

    @include sm {
      font-size: 18px;
    }
  }

  .cards {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.6rem;
    padding: 2rem 4rem;

    @include xl {
      padding: 2rem 3rem;
      grid-template-columns: repeat(4, 1fr);
    }

    @include lg {
      padding: 1.6rem 2.4rem;
      grid-template-columns: repeat(3, 1fr);
    }

    @include md {
      padding: 1.6rem 2rem;
      grid-template-columns: repeat(2, 1fr);
    }

    @include sm {
      padding: 10px;
      grid-template-columns: 1fr;
    }

    @include xs {
      grid-template-columns: 1fr;
    }

    .card {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.1);
      border: 1px solid;
      box-shadow: 0px 0px 10px 0px #9e9e9e29;

      border-radius: 16px;
      padding: 2.4rem 2.2rem;
      text-align: center;
      border: 8px solid white;
      background-color: white;
      position: relative;
      transition:
        transform 0.3s ease,
        box-shadow 0.3s ease;

      @include lg {
        padding: 2rem;
      }

      @include md {
        padding: 1.6rem;
      }

      @include sm {
        padding: 1.4rem;
      }

      @include xs {
        padding: 1.2rem;
      }

      &:hover {
        img {
          scale: 1.12;
        }
      }

      &::after,
      &::after {
        opacity: 0;
        transition: opacity 1s ease;
        position: absolute;
        content: '';
        height: 100%;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 14px;
        z-index: -1;
        border-radius: 20px;
        background-image: $gradient-linear-full;
      }

      &:hover::after,
      &:hover::after {
        opacity: 1;
      }

      img {
        display: block;
        height: 150px;
        margin-bottom: 1.6rem;
        object-fit: contain;
        transition: scale 0.4s ease;
      }

      h1 {
        font-family: var(--bukra-regular);
        font-weight: 500;
        color: #4d4d4d;
        font-size: 1.5rem;

        @include md {
          font-size: 1.4rem;
        }

        @include sm {
          font-size: 1.3rem;
        }

        @include xs {
          font-size: 1.2rem;
        }

        font-weight: 600;
        line-height: 1.5;
        letter-spacing: 0.2px;
        color: var(--text-color);
        margin-top: 1rem;
      }
    }
  }

  button {
    margin: 40px auto;
    width: 35%;

    @include md {
      width: 100%;
    }
  }
}
