@import '../../styles/mixin';
@import '../../styles/variables';

.about {
  @include flex(center, center, row, 60px);
  max-width: $maxWidth;
  margin: 0 auto;
  padding: 10rem 100px;
  font-family: $secondaryFont;

  @include lg {
    padding: 10rem 80px;
  }

  @include md {
    flex-direction: column;
    padding: 10rem 20px;
  }

  @include sm {
    padding: 5rem 20px;
  }

  .left {
    flex-basis: 50%;
    flex-shrink: 0;

    @include md {
      width: 100%;
    }

    img {
      display: block;
      width: 100%;
      max-height: 580px;
      aspect-ratio: 1/1;
      object-fit: cover;
      border-radius: 20px;

      @include sm {
        max-height: 300px;
      }
    }
  }

  .right {
    @include flex(flex-start, center, column, 10px);
    flex: 1;
    height: 580px;

    @include sm {
      padding: 10px;
      height: auto;
    }

    .title {
      @include font(var(--reg-helveticaNeue-bukra), 20px, 500);
      color: $text-color-4;
      text-transform: uppercase;

      @include sm {
        font-size: 16px;
      }
    }

    .heading {
      @include font(var(--bukra-medium), 40px, 500);
      color: $text-color-1;
      @include flex(flex-start, center, null, 12px);
      text-wrap: wrap;
      margin-top: 20px;

      @include sm {
        @include flex(flex-start, center, column, null);
        font-size: 30px;
        margin-top: 10px;
      }

      img {
        height: 7rem;
        width: 16rem;

        @include sm {
          height: 5rem;
          width: 12rem;
        }
      }

      span {
        color: $primary-color;
      }

      svg {
        stroke-dasharray: 1000;
        stroke-dashoffset: 1000;
        animation:
          draw 5s ease forwards,
          fadeIn 1s ease-in forwards;
      }
    }

    .aboutText {
      @include font(var(--reg-helvetica-bukra), 24px, 400);
      color: $text-color-3;
      margin: auto 0;
      line-height: 1.2;

      @include xxl {
        padding-right: 150px;
      }
      @include xl {
        padding-right: 100px;
      }
      @include lg {
        padding-right: 80px;
      }

      @include md {
        padding-right: unset;
      }

      @include sm {
        font-size: 18px;
      }
    }

    .outlinedBtn {
      @include font(var(--reg-roboto-bukra), 16px, 600);
      @include flex(center, center, row, 15px);
      background-color: transparent;
      border: 2px solid $primary-color;
      color: $primary-color;
      outline: none;
      border-radius: 10px;
      text-transform: uppercase;
      cursor: pointer;
      margin-top: 12px;
      padding: 1.5rem 4.5rem;

      @include sm {
        padding: 1rem 3rem;
        font-size: 14px;
      }

      transition: background-image 0.3s ease;

      svg {
        fill: $primary-color;
        position: relative;
        z-index: 1;
      }

      &:hover {
        background-image: $gradient-linear-full;
        color: white;
        border-color: white;
        svg {
          fill: white;
        }
      }
    }
  }

  @keyframes draw {
    100% {
      stroke-dashoffset: 0;
    }
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
