@import '../../../styles/mixin';
@import '../../../styles/variables';

.card {
  @include flex(center, space-between, column, 20px);
  background-color: transparent;
  border-radius: 20px;
  transition: background-color 0.2s ease;
  transition:
    transform 1s ease,
    box-shadow 1s ease;
  height: 100%;
  border: 1px solid black;

  &:hover {
    box-shadow: 0px 0px 4px 0px #6c6c6c2e;
  }

  .image {
    display: block;
    width: 100%;
    max-height: 500px;
    height: auto;
    border-radius: 16px;
    background-size: cover;
    aspect-ratio: 4 / 3;
  }

  .content {
    @include flex(flex-start, space-between, column, 10px);
    padding: 40px 20px;
    height: 100%;

    .heading {
      font-family: var(--bukra-bold);
      font-size: 32px;
      color: var(--text-color);
      text-align: left;
      min-height: 50px;

      @include md {
        font-size: 25px;
      }
    }

    .details {
      @include font(var(--helvetica), 20px, 400);
      color: $text-color-3;
      margin: auto 0;
      line-height: 30px;

      @include md {
        font-size: 18px;
      }
    }

    .button {
      width: 100%;
      margin-top: auto;

      & > * {
        width: 100%;
      }
    }
  }
}


