@import '../../../styles/mixin';
@import '../../../styles/variables';

.card {
  @include flex(null, flex-start, column, 20px);
  background-color: transparent;
  border-radius: 20px;
  transition: background-color 0.2s ease;
  transition:
    transform 1s ease,
    box-shadow 1s ease;

  &:hover {
    box-shadow: 0px 0px 4px 0px #6c6c6c2e;
  }

  .image {
    display: block;
    width: 100%;
    max-height: 500px;
    height: auto;
    border-radius: 16px;
    background-size: cover;
    aspect-ratio: 4 / 3;
  }

  .content {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0px 20px 30px 20px;

    .heading {
      font-family: var(--bukra-bold);
      font-size: 32px;
      color: var(--text-color);
      margin-block: 10px;

      @include md {
        font-size: 25px;
      }
    }

    .center {
      text-align: center;
    }

    .details {
      @include font(var(--helvetica), 20px, 400);
      color: $text-color-3;
      line-height: 30px;
      margin-bottom: 10px;

      @include md {
        font-size: 18px;
      }
    }

    .button {
      margin-top: auto;

      & > * {
        width: 100%;
      }
    }
  }
}
